@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:500&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

.bg-image {
    background-image: url('./media/logo-center.png');
    background-size: 400px; 
    background-position: center;
    background-repeat: no-repeat;
    
}

.title-body {
  text-shadow: 2px 2px 4px black;
}

.title-body-color {
  transition: color 0.6s, background-color 0.6s;
  color: rgb(255, 255, 255);
}

.title-body-color:hover {
  color: rgb(207, 17, 17);
}


.password-login input[type="password"],
.email-login input[type="email"]{
  align-items: center;
  width: 250px;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 4px;
  background-color: #333;
  color: white;
  transition: border-color 0.6s, background-color 0.6s;
  outline: none;
  box-shadow: none;
  text-align: center;

}

.password-login input[type="password"]:hover,
.email-login input[type="email"]:hover {
  transition: background-color border-color 0.6s, transform 0.6s;
  background-color:  #222;
  border-color: red;
}

.password-login input[type="password"]:focus,
.email-login input[type="email"]:focus {
  border-color: red;
  color: white;
}

.text-event-redirect,
.text-noacount,
.text-nopassword {
  color: #b8b8b8;
  text-decoration: none;
  font-size: 0.7rem;
}

.text-event-redirect:hover,
.text-noacount:hover,
.text-nopassword:hover {
  transition: color 0.3s, transform 0.3s;
  color: white;
}


.container-mision,
.container-vision {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.6s, transform 0.6s;
}

.container-events {
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.6s, transform 0.6s;
}
.container-events:hover {
  background-color: #1d1d1d;
  transform: translateY(5px);
}

.container-mision:hover,
.container-vision:hover {
  background-color: #1d1d1d;
  transform: translateY(5px);
}

.title-misionyvision {
  color: white;
  text-shadow: 2px 2px 4px black;
}

#title-vision {
  color: rgb(179, 1, 1);
}

#title-mision {
  color: rgb(194, 129, 7);
}

.creator-website a {
  color: aquamarine;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}

.creator-website a:hover {
  color: white;
}

@media screen and (min-width: 768px) {
  .text-created {
    min-width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .text-created {
    max-width: 100%;
    align-items: center;
    padding: 20px;
    font-size: 14px;
  }
  .container-mision,
  .container-vision {
    max-width: 100%;
    font-size: 14px;
    padding: 20px;
  }
}



/* Estilos generales */

.spotify-audio {
  background-color: #181818;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  font-family: "Roboto", sans-serif;
}

.spotify-player {
  display: flex;
  align-items: center;
  width: 100%;
}

/* Imagen del album */

.spotify-artwork {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Detalles de la canción */

.spotify-details {
  flex-grow: 1;
}

.spotify-track-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 5px;
}

.spotify-artist {
  font-size: 14px;
  color: #b3b3b3;
}

/* Controles de reproducción */

.spotify-controls {
  display: flex;
  align-items: center;
}

.spotify-control-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  margin-right: 10px;
  transition: 0.2s ease-in-out;
  border-radius: 5px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

/* Barra de progreso */

.spotify-progress-container {
  background-color: #333;
  height: 6px;
  border-radius: 2px;
  width: 100%;
  margin-top: 10px;
}

.spotify-progress {
  background-color: #1DB954;
  height: 100%;
  border-radius: 2px;
}

/* Animaciones */

.spotify-control-btn.play {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Responsive design */

@media (max-width: 768px) {
  .spotify-audio {
    flex-direction: column;
  }

  .spotify-artwork {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
